
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Fournisseurs</h6>
                    <h2 class="text-right"><i class="fa fa-archive f-left" aria-hidden="true"></i><span>{{nbrFournisseur}}</span></h2>
                    <p class="m-b-0">Nombre fournisseurs<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Produits</h6>
                    <h2 class="text-right"><i class="fa fa-product-hunt f-left" aria-hidden="true"></i><span>{{nbrProduit}}</span></h2>
                    <p class="m-b-0">Stock Produits<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Clients</h6>
                    <h2 class="text-right"><i class="fa fa-user-circle-o f-left" aria-hidden="true"></i><span>{{nbrClient}}</span></h2>
                    <p class="m-b-0">Totale Clients<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Users</h6>
                    <h2 class="text-right"> <i class="fa fa-users f-left" aria-hidden="true"></i><span>{{nbrUser}}</span></h2>
                    <p class="m-b-0">Totale Users<span class="f-right"></span></p>
                </div>
            </div>
        </div>
	</div>
</div>