<div class="row">
  <div class="col-2">
<ol class="breadcrumb" style="background-color: #f2f2f2">
  <li class="breadcrumb-item">
    <a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>Produits</a>
  </li>

</ol>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-product-hunt" aria-hidden="true"></i>Ajouter un Produit
  </div>

  <div class="card-body" style="background-color: #f2f2f2;">
    <form [formGroup]="produitService.form" (submit)="save()">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
                <label>Nom*</label>
                <input type="text" formControlName="nom" name="nom" class="form-control" placeholder="Nom">
              </div>
            </div>
          </div>



            <div class="row">
              <div class="col-md-6">
              <div class="form-group">
                <label>Nom Produit</label>
                <input type="text" formControlName="nomCourt" name="nomCourt" class="form-control" placeholder="Nom court du Produit">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Prix de Base*</label>
                <input type="text" formControlName="prixBase" name="prixBase" class="form-control" placeholder="Prix de Base">
              </div>
            </div>
          </div>


            <div class="row">
              <div class="col-md-6">
              <div class="form-group">
                <label>Prix de Vente*</label>
                <input type="text" formControlName="prixVente" name="prixVente" class="form-control" placeholder="Prix de Vente">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Max Remise*</label>
                <input type="text" formControlName="maxRemise" name="maxRemise" class="form-control" placeholder="Max de Remise">
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-6">
              <div class="form-group">
                <label>Unité*</label>
                <input type="text" formControlName="unite" name="unite" class="form-control" placeholder="Unite">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Quantité Initiale*</label>
                <input type="text" formControlName="qteInitial" name="qteInitial" class="form-control" placeholder="QteInitial">
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-6">
              <div class="form-group">
                <label>Quantité Actuel*</label>
                <input type="text" formControlName="qteActuel" name="qteActuel" class="form-control" placeholder="QteActuel">
              </div>
            </div>
          </div>
          
        
        
      <button type="submit" class="btn btn-info">Submit</button>
        <button type="reset" class="btn btn-info">Clear</button>
    </form>
  </div>
</div>
