
<div class="row">
  <div class="col-2">
<ol class="breadcrumb" style="background-color: #f2f2f2">
    <li class="breadcrumb-item">
      <a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>Utilisateurs</a>
    </li>

  </ol>
</div>
</div>

  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-users" aria-hidden="true"></i>Ajouter un Utilisateur
    </div>
    <div class="card-body" style="background-color: #f2f2f2;">
      <form [formGroup]="userservice.form" (submit)="save()">
          <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" formControlName="nom" name="nom" class="form-control" placeholder="Nom">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" formControlName="prenom" name="prenom" class="form-control" placeholder="Prenom">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" name="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Téléphone</label>
                  <input type="text" formControlName="tel" name="tel" class="form-control" placeholder="Telephone">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label  for="sel1">Status</label>
                  <select class="form-control" id="sel1" formControlName="status">
                    <option>User</option>
                    <option>Editor</option>
                    <option>Admin</option>
                  </select>
                </div>
              </div>
            </div>
           
            <button type="submit" class="btn btn-info">Submit</button>
            <button  type="reset" class="btn btn-info">Clear</button>
       
      </form>
    </div>
  </div>
  