<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">
  <img style="width: 25px;"  src="./././assets/ecomerce.png">
    <strong>SmartVentes</strong></a>


  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">


      <div class="profile-header-container">   
    		<div class="profile-header-img">
                <img class="img-circle" style="width:90px;height:90px;"  src="./././assets/cc.png" />
                <!-- badge -->
                <div class="profile_info">
                  <span>Admin</span>
    
                </div>
            </div>
        </div> 

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" routerLink="/">
          <i class="fa fa-home"></i>
          <span class="nav-link-text" style="color: white;">Dashboard</span>
        </a>
      </li> 

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" routerLink="fournisseurs">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span class="nav-link-text"style="color: white;">Fournisseurs</span>
        </a>
      </li>

      
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" routerLink="produits">
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <span class="nav-link-text" style="color: white;" >Produits</span>
        </a>
      </li>




      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="clients">
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <span class="nav-link-text" style="color: white;">Clients</span>
        </a>
      </li>
      

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="users">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="nav-link-text" style="color: white;">Utilisateurs</span>
        </a>
      </li>



      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="/" >
          <i class="fa fa-sign-out"></i>
          <span class="nav-link-text" style="color: white;">LogOut</span>
        </a>
      </li>

      
    </ul>
    
   

    
  </div>

  <div class="dropdown" style="float:right;"> 
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span style="font-size: initial;">Admin</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
      <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>LogOut</a>

      
   
    </div>
  </div>
</nav>
